  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(46, 46, 46);
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color:rgb(21, 195, 21);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkgreen;
}

/* Role-specific fieldsets */
.role-fields {
  display: none;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
